{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- About Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="row gx-5">
            <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100 rounded" src="{% static 'img/blue2.jpg' %}" style="object-fit: cover; height: 400px;">
                </div>
            </div>
            <div class="col-lg-7">
                <div class="mb-4">
                    <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">About Us</h5>
                    <h1 class="display-4">Blue studios is redefining photography</h1>
                </div>
                <p>
                    Blue photography and films is a hub of very innovative minds, passionate hearts and skillful hands with a mandate to entertain, inform and educate using creative methods of arts and entertainment. Amos Tanko runs the company and leads a viable team of content producers, directors, art directors, editors, cinematographers and other talents.
                    Our team of professionals have been instrumental in the production and branding of your favourite documentaries, jingles and Free Medical Care for Society.
                    We based in Jos, Nigeria. We also have a very strong network with stakeholders in the media, arts, broadcast and entertainment industry around Nigeria.
                    We are committed to delivering quality and excellence.
                </p><br><br>
                <div>
                    <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">What we do</h5>
                    <p>
                        Our Video Production Services include Pre-production, Production, Post-production, We are a creative multimedia production agency that produces effective branded video content, documentary, product photography, corporate videos, explainer animations, testimonials, success stories, product videos, interviews, presentations, Landscaping Photograph, Aerial Photography, event coverage, With a unique and innovative approach to each project, we take steps to understand your company’s culture, identity and position in the marketplace to produce engaging content that is unique to your brand.
                    </p>
                </div>
                <div>
                
                <div>
                    <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">Why choose us</h5>
                    <p>
                        At Blue photography and films, we know the real value of media content in today’s world and also understand how essential content strategy has become to content marketing, social media, and branding. Bear in mind, we develop and produce dynamic video and photo content strategies that engage your target audience and raise brand awareness. We will give you digital marketing services wrapped with full video production and product photography, to ensure your brand reaches the top in your niche.
                    </p>
                </div>
                <div>
                    <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">Deliverables</h5>
                    <p>
                        With the unique and innovative approach to each project, our team works with you to understand your corporate identity, refinement and position in the marketplace so that we can produce engaging content that is unique to your brand’s image (organization’s character). We will analyze marketing campaigns and aspirations to help build a vibrant content strategy to effectively heighten the visibility of your ministry. We ensure that our clients receive the best of video and creative product photography content. We will also work with you to effectively milk your budget and get you the most comprehensive services without putting a strain on your pocket.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-xl-4 col-lg-6">
                <div class="bg-light rounded overflow-hidden">
                    <img class="img-fluid w-100" src="{% static 'img/blue3.jpg' %}" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
 
{% endblock %}